<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>583223795298-ctej8r2f3lcm5t7fmjhetik1qj6lprh7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.583223795298-ctej8r2f3lcm5t7fmjhetik1qj6lprh7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>583223795298-5debc5eiops2rr54q2rhm4m919oapna5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA32ej1Z6NDi7NdN3NoPydvPbxEEBRfKHw</string>
	<key>GCM_SENDER_ID</key>
	<string>583223795298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beerballerIos</string>
	<key>PROJECT_ID</key>
	<string>beerballertrinkspielapp</string>
	<key>STORAGE_BUCKET</key>
	<string>beerballertrinkspielapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583223795298:ios:8091dbe3344c11184cbb3b</string>
</dict>
</plist>